/* ======== Common Styles ======= */
/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');

/* Background Variables */
:root{
    --background-mobile: "";
    --background-tablet: "";
    --background-desktop: "";
}

/* Universal Selector */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bellefair', serif;
    text-align: center;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}

/* Body */
body{
    background-color: #0B0D17;
    color: white;
    padding: 0 20px;
    min-width: 290px;
}

/* Background */
#background{
    background-color: #0B0D17;
    background-image: var(--background-mobile);
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100vh;
    position: absolute;
    bottom: 0px;
    left: 0;
    z-index: -1;
    transform: rotate(0deg);
    min-width: 290px;
}

/* Subheading */
.subheading{
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 400;
    font-size: 28px;
    line-height: 34px;
    letter-spacing: 4.725px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.subheading span{
    font-weight: 700;
    mix-blend-mode: normal;
    opacity: 0.25;
    margin-right: 20px;
}

/* Container */
.container{
    margin-left: 4vw;
    margin-top: 50px;
}

@import url("./media.css");