/* ======== Technology ========== */
.technology{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 40px;
}

/* Pagination */
.pagination-tech{
    display: flex;
    flex-direction: row;
    order: 1;
    gap: 20px;
}
.pagination-tech span:hover{
    border: 1px solid #FFFFFF;
}
.pagination-tech span.active-dot{
    background-color: white;
    color: #0B0D17;
    opacity: 1;
}
.pagination-tech span{
    border-radius: 50%;
    background-color: transparent;
    width: fit-content;
    padding: 15px 25px;
    font-weight: 400;
    font-size: 32px;
    line-height: 37px;
    text-align: center;
    letter-spacing: 2px;
    color: white;
    border: 1px solid #757474;
    margin: 10px 0;
    cursor: pointer;
}

/* Technology Text */
.technology-text{
    order: 2;
}
.technology-text span{
    display: inline-block;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2.7px;
    color: #D0D6F9;
    text-transform: uppercase;
    margin: 30px 0 0;
}

/* Image */
picture{
    order: 0;
}
.tech-img{
    min-height: 40vh;
    max-height: 40vh;
    margin-left: 0;
    width: 100%;
    margin: 30px 0;
}
